# --- Test Environment Settings ---
# Important: PROD_EXECUTION must be True!
PROD_EXECUTION=False
LOG_LEVEL_CONSOLE=DEBUG

# --- Bitfinex DEMO/PAPER TRADING Account API Credentials ---
# NIEMALS PRODUKTIONS-KEYS HIER EINGEBEN
BFX_API_KEY=YOUR_BITFINEX_DEMO_API_KEY
BFX_API_SECRET=YOUR_BITFINEX_DEMO_API_SECRET
TRADE_SYMBOL=tBTCF0:USTF0

MODEL=groq:llama-3.3-70b-versatile
GROQ_API_KEY=


SMS_NOTIFICATIONS_ENABLED=True
TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=your_auth_token
TWILIO_FROM_NUMBER=+15017122661
TWILIO_TO_NUMBER=+15558675310

CONFIDENCE_THRESHOLD_FED_MED=0.80
CONFIDENCE_THRESHOLD_FED_HIGH=0.90